<!DOCTYPE html>
<html>
    <head>
        <title><%=computer.productName%> 소개</title>
    </head>

    <body>
        <h1>제품 소개</h1>
        <img src="<%=computer.img%>" style="width:200px;height:150px"/>
        <p>제품명: <%=computer.productName%></p>
        <p>가격: <%=computer.price%></p>
        <p>브랜드: <%=computer.brand%></p>

    </body>
</html>