<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전달된 JWT 값 확인하기</title>
</head>
<body>
    <h1>전달된 JWT 값 확인하기 </h1>
    <form>
        사용자 아이디: <input type="text" name="userid" value="<%=tokenJsonData.userid%>"><br>
        메일 주소: <input type="email" name="email" value="<%=tokenJsonData.email%>"><br>
        사용자 유형: <input type="text" name="usertype" value="<%=tokenJsonData.usertype%>"><br>
        이름: <input type="text" name="name" value="<%=tokenJsonData.name%>"><br>
        전화번호: <input type="text" name="telephone" value="<%=tokenJsonData.telephone%>"><br>
        <button type="submit">토큰 생성</button>
        <hr>
        전달된 JWT 토큰 값: <%= token %>
    </form>
</body>
</html>