
            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>사용자 정보 관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home ></a>
                        </li>
                        <li>
                            <a>사용자 정보 관리 ></a>
                        </li>
                        <li class="active">
                            <strong>확인/수정</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <form action="/member/modify/<%=member.member_id%>" method="post">
                <div class="wrapper wrapper-content">
                    <div class="ibox-content m-b-sm border-bottom">


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">메일주소</label>
                                    <input type="text" name="email" class="form-control" value="<%=member.email%>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">비밀번호</label>
                                    <input type="password" name="password" class="form-control" value="<%=member.member_password%>">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">이름</label>
                                    <input type="text" name="name" class="form-control" value="<%=member.name%>">
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">사진 업로드</label>
                                    <input type="file" name="profileImgPath" class="form-control" value="<%=member.profile_img_path%>">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">전화번호</label>
                                    <input type="text" name="telephone" class="form-control" value="<%=member.telephone%>">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">생년월일</label>
                                    <input type="text" name="birthday" class="form-control" value="<%=member.birth_date%>">
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">회원가입유형</label>
                                    <select name="entryTypeCode" class="form-control">
                                        <option value="0" <% if(member.entry_type_code=="0") {%>selected<%} %>>직접가입</option>
                                        <option value="1" <% if(member.entry_type_code=="1") {%>selected<%} %>>SNS-Facebook</option>
                                        <option value="2" <% if(member.entry_type_code=="2") {%>selected<%} %>>SNS-Google</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">가입상태정보</label>
                                    <select name="useStateCode" class="form-control">
                                        <option value="0" <% if(member.use_state_code=="0") {%>selected<%} %>>일시중지</option>
                                        <option value="1" <% if(member.use_state_code=="1") {%>selected<%} %>>사용중</option>
                                        <option value="2" <% if(member.use_state_code=="2") {%>selected<%} %>>탈퇴상태</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">저장</button>
                            <a href="/member/list"><button type="button" id="btnDelete" class="btn btn-danger">삭제</button></a>
                            <a href="/member/list" class="btn btn-info">목록</a>
                        </div>

                    </div>
                </div>
            </form>

 
    <script>

    </script>

</body>

</html>